.inquiry-container {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 20px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.inquiry-header {
  text-align: center;
  margin-bottom: 20px; /* 제목과 테이블 사이 간격 증가 */
}

.inquiry-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px; /* 테이블과 버튼 사이 여백 증가 */
}

.inquiry-table th,
.inquiry-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.inquiry-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inquiry-footer {
  display: flex;
  justify-content: flex-end;
}

.write-button {
  background-color: #777;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.write-button:hover {
  background-color: #2f6b25;
}

.matchimg{
  align-items: center;
  height: 250px;
  padding: 20px 66px;
}

.matchimg img{
  width: 1200;
  object-fit: cover;
}
.teamcreate {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}