/* HomePage.css */

.homepage {
  text-align: center;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 최소 높이 확보 */
}

.main-content {
  flex-grow: 1; /* 위쪽 영역이 여유 공간 차지하도록 */
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Footer */
.footer {
  width: 100%;
  background: #f5f5f5;
  padding: 20px 0;
  overflow: hidden;

  /* 항상 하단 고정 */
  /* position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000; */
}


.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.logo-track {
  display: flex;
  gap: 50px;
  min-width: 200%;
  animation: scroll 10s linear infinite;
}

.logo {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* 키프레임 중복 제거 */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
