/* HomePage.css */
.homepage {
    text-align: center;
    background-color: #f0f0f0; /* 배경색 */
    padding: 0;
    margin: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 상단 정렬로 변경 */
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* 상단 고정 */
    top: 0; /* 상단에 위치 */
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 요소 위에 표시 */
  }
  
  .kick-off {
    margin: 0 20px; /* 다른 요소와의 간격 조정 */
    font-size: 20px; /* 원하는 크기로 조정 */
    color: #333; /* 텍스트 색상 */
  }
  
  
  
  .header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .header nav a:hover {
    color: #007BFF; /* 링크 호버 색상 */
  }
  
  .main-content {
    position: relative;
  }

  .main-image {
    width: 100%;
    height: auto;
    max-height: 500px; /* 이미지 최대 높이 설정 */
    object-fit: contain; /* 이미지를 비율에 맞게 조정. 자르지 않음 */
    object-position: center; /* 이미지 중앙 정렬 */
  }
  
  
  h2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem; /* 제목 크기 조정 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .footer {
    padding: 20px;
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .brand-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 여러 줄로 배치 */
    margin-top: 20px; /* 위쪽 여백 */
  }
  
  .brand-logos img {
    margin: 10px;
    max-width: 100px; /* 로고 최대 너비 설정 */
    height: auto; /* 비율 유지 */
  }
  