.menu-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  justify-content: center;
  height: 100vh;
  background-color: ivory;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.kick-off {
  font-size: 36px;
  margin: 40px 0;
  color: #333;
}

.menu-items {
  list-style-type: none;
  padding: 50px;
  margin: 0;
  width: 100%;
}

.menu-items li {
  position: relative; /* 기준점을 설정하여 서브메뉴 위치를 조정할 수 있게 함 */
  font-size: 48px;
  font-weight: bold;
  padding: 60px 20px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

/* 서브메뉴 스타일 */
.submenu {
  position: absolute;
  top: 50%;
  left: 240px; /* 부모 요소의 오른쪽에 배치 */
  transform: translateY(-50%); /* 중앙 정렬 */
  padding: 15px;
  list-style: none;
  min-width: 180px;
  z-index: 999;
}

/* 서브메뉴 항목 스타일 */
.submenu li {
  font-size: 36px;
  font-weight: bold;
  padding: 8px 0;
}

.submenu li a {
  color: #333;
  text-decoration: none;
}

.submenu li a:hover {
  color: #007bff;
}

.contact a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin: 0;
}

.contact a:hover {
  color: #007bff;
}

/* 애니메이션 효과 */
.fade-enter {
  opacity: 0;
  transform: translateX(-10px) translateY(-50%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0) translateY(-50%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0) translateY(-50%);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-10px) translateY(-50%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
